<form>
  <div *ngIf="car">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="{{car.name}}" [(ngModel)]="name" name="name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="text" placeholder="{{car.color}}" [(ngModel)]="color" name="color">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="number" placeholder="{{car.year}}" [(ngModel)]="year" name="year">
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <a mat-button (click)="goPrevious()">Prev</a>
        <button mat-button color="accent" (click)="edit()">Edit</button>
        <a mat-button (click)="goNext()">Next</a>
      </mat-card-actions>
    </mat-card>
  </div>
</form>




